.arrastrable{

   width: 100px;
    height: 100px;
    background-color: #f0f0f0;
    border: 2px solid #333;
    border-radius: 8px;
    padding: 20px;
    margin: 10px;

    position: absolute;
    top: 0;
    left: 0;
}



















