
#primero{

background-color: blue;
margin-right: 95%;

}

#segundo {

background-color: yellow;
margin-right: 95%;

}


#tercero {

background-color: red;
margin-right: 95%;

}

#cuarto{
background-color: purple;
margin-right: 95%;

}

#quinto {

background-color: pink;
margin-right: 95%;

}

body{

background-color: white;

}



