<<<<<<< HEAD
body {
    font-family: sans-serif;
    background: #f5f5f5;
}

.board {
    display: flex;
    gap: 20px;
    padding: 20px;
}

.column {
    background: #eaeaea;
    padding: 10px;
    width: 300px;
    border-radius: 6px;
}

.column.drag-over {
    background: #d0e6ff;
}

.column h2 {
    text-align: center;
}

.card {
    background: white;
    padding: 10px;
    margin: 8px 0;
    border-radius: 4px;
    cursor: grab;
}

.card.dragging {
    opacity: 0.5;
}

.placeholder {
    height: 10px;
    background: #007bff;
    margin: 5px 0;
}
=======
body {
    font-family: sans-serif;
    background: #f5f5f5;
}

.board {
    display: flex;
    gap: 20px;
    padding: 20px;
}

.column {
    background: #eaeaea;
    padding: 10px;
    width: 300px;
    border-radius: 6px;
}

.column.drag-over {
    background: #d0e6ff;
}

.column h2 {
    text-align: center;
}

.card {
    background: white;
    padding: 10px;
    margin: 8px 0;
    border-radius: 4px;
    cursor: grab;
}

.card.dragging {
    opacity: 0.5;
}

.placeholder {
    height: 10px;
    background: #007bff;
    margin: 5px 0;
}
>>>>>>> d5f0a4d0878fe51a55bd968ef99f573f19e5b1c8
