<h3>Añadir Enlace Social</h3>
<form action="/links" method="POST">
  <label>Plataforma:</label><br>
  <input type="text" name="platform" required><br>
  <label>URL:</label><br>
  <input type="url" name="url" required><br>
  <button type="submit">Añadir Enlace</button>
</form>
