:root{
--cols: 150;
--cell-size: 5px;
--gap: 1px;
--bg: #e9e9e9;
--cell-color: #ffffff;
--paint-color: #000000;
}


html,body{
height:100%;
margin:0;
font-family:system-ui,Arial;
background:var(--bg);
display:flex;
align-items:center;
justify-content:center;
}


.app{
display:flex;
flex-direction:column;
gap:12px;
align-items:center;
padding:18px;
}


.controls{
display:flex;
gap:8px;
align-items:center;
}


.cuadricula{
display:grid;
grid-template-columns: repeat(var(--cols), var(--cell-size));
grid-auto-rows: var(--cell-size);
gap: var(--gap);
background: #bdbdbd;
padding: var(--gap);
box-shadow: 0 6px 20px rgba(0,0,0,0.08);
user-select: none;
}


.cell{
width: var(--cell-size);
height: var(--cell-size);
background: var(--cell-color);
box-sizing: border-box;
}


button{
padding:8px 12px;
border-radius:6px;
border:1px solid #ccc;
background:#fff;
cursor:pointer;
}


.relleno{
    background-color: aqua;
}


